* {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
}

QPushButton {
    margin: 0;
    padding:0;
    border: 1px solid white;
    background-color: #212121;
}

QPushButton:hover {
    background-color: #212121;
}

QMenuBar {
    padding: 5px;
    background-color: rgb(21,83,109);
}

QMenuBar::item:selected, QMenu::item:selected{
    background-color: rgb(21,83,109);
}
